<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <script th:src="@{/scripts/htmx.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
    <link rel="shortcut icon" th:href="@{/images/LOGO.webp}" type="image/png">
    <title>Admin Area</title>
</head>
<body class="min-h-screen flex">
<header class="flex h-screen p-2 flex-col justify-between border-e border-gray-100 bg-white">
    <div class="flex flex-col justify-evenly gap-3 pt-4">
        <a hx-get="/admin/screen/emergencies"
           hx-swap="innerHTML"
           hx-target="#dashboard-content">
            <nav th:replace="~{Admin/Components/nav.html :: navItem('Emergencies Dashboard')}"></nav>
        </a>
        <a hx-get="/admin/screen/appointments-requests"
           hx-swap="innerHTML"
           hx-target="#dashboard-content">
            <nav th:replace="~{Admin/Components/nav.html :: navItem('Appointment Requests')}"></nav>
        </a>
        <a hx-get="/admin/screen/ongoing-appointments"
           hx-swap="innerHTML"
           hx-target="#dashboard-content">
            <nav th:replace="~{Admin/Components/nav.html :: navItem('Ongoing Appointments')}"></nav>
        </a>
        <a hx-get="/admin/screen/completed-appointments"
           hx-swap="innerHTML"
           hx-target="#dashboard-content">
            <nav th:replace="~{Admin/Components/nav.html :: navItem('Completed Appointments')}"></nav>
        </a>
        <a hx-get="/admin/screen/log"
           hx-swap="innerHTML"
           hx-target="#dashboard-content">
            <nav th:replace="~{Admin/Components/nav.html :: navItem('Activity Log')}"></nav>
        </a>
        <a hx-get="/admin/screen/clients"
           hx-swap="innerHTML"
           hx-target="#dashboard-content">
            <nav th:replace="~{Admin/Components/nav.html :: navItem('Clients')}"></nav>
        </a>
    </div>
    <form method="POST" th:action="@{/logout}">
        <button type="submit">
        <span th:replace="~{Admin/Components/nav.html :: navItem('Logout')}">
        </span>
        </button>
    </form>
</header>
<main class="h-screen w-full bg-gray-100 overflow-y-auto" id="content">
    <nav
            aria-label="Breadcrumb"
            class="px-6 pt-5"
    >
        <ol class="flex items-center gap-1 text-sm text-gray-700">
            <li class="block transition-colors hover:text-gray-900">
                <svg
                        class="size-4"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                    />
                </svg>
            </li>

            <li class="flex items-center gap-1 transition-colors hover:text-gray-900">
                <svg
                        class="size-4"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                            clip-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            fill-rule="evenodd"
                    />
                </svg>
                <p class="block transition-colors hover:text-gray-900"></p>
            </li>
        </ol>
    </nav>
    <section class="flex flex-col w-full h-full px-8 pt-5 pb-10" id="dashboard-content"
             th:insert="~{Admin/Screens/EmergenciesDashboard.html:: emergencies}">
    </section>
</main>
</body>
</html>