<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="flex justify-center group relative cursor-pointer rounded-lg p-1"
     th:classappend="${active} ? 'bg-blue-50' : 'hover:bg-gray-100'"
     th:fragment="navItem (size,text,svgContent,active)">
    <svg class="opacity-60 hover:opacity-80" fill="none" th:classappend="${size}" viewBox="0 0 24 24"
         xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier" th:utext="${svgContent}"></g>
    </svg>
    <span
            class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded-sm bg-gray-700 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
    >
                <span th:text="${text}">Account</span>
            </span>
</nav>
</body>
</html>