<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<body>
<div class="lg:overflow-y-auto p-6 w-full" th:fragment="right()">
    <div class="flex flex-col gap-6 max-w-3xl mx-auto">
        <div th:replace="Client/Components/NextServiceCard :: nextServiceCard()"></div>
        <div th:replace="Client/Components/EmergencyCard :: emergencyCard()"></div>
        <div th:replace="Client/Components/ScheduleServiceCard :: scheduleServiceCard()"></div>
        <div th:replace="Client/Components/UpcomingServiceCard :: upcomingServiceCard()"></div>
        <div th:replace="Client/Components/RecentCard :: recentCard()"></div>
    </div>
</div>
</body>
</html>

<!--bg-gray-900/10-->