<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<button th:class="${
            'inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 ' +
            (variant == 'default' ? 'flex items-center justify-center px-6 py-2.5 text-center text-white duration-200 bg-black border-2 border-black rounded-full hover:bg-transparent hover:border-black hover:text-black focus:outline-none focus-visible:outline-black text-sm focus-visible:ring-black' :
             variant == 'destructive' ? 'flex items-center justify-center px-6 py-2.5 text-center text-white duration-200 bg-red-600 border-2 border-red-600 rounded-full hover:bg-transparent hover:border-red-600 hover:text-red-600 focus:outline-none focus-visible:outline-red-600 text-sm focus-visible:ring-red-600' :
             variant == 'outline' ? 'flex items-center justify-center px-6 py-2.5 text-center text-black duration-200 bg-transparent border-2 border-black rounded-full hover:bg-black hover:text-white focus:outline-none focus-visible:outline-black text-sm focus-visible:ring-black' :
             variant == 'link' ? 'text-primary underline-offset-4 hover:underline' : '') +
            (size == 'sm' ? ' px-4 py-2 text-xs' :
             size == 'lg' ? ' px-8 py-3' :
             size == 'icon' ? ' h-10 w-10 rounded-full p-2' : '')
        }"
        th:fragment="button(text, variant, size)"
        th:text="${text}">
    Button
</button>
</body>
</html>